@use '../../warehouse/module-common';

.unit-name {
  font-weight: 600;
  color: var(--text-primary);
}

.unit-short {
  font-size: 13px;
  color: var(--primary-600);
  background: var(--primary-50);
  padding: 2px 10px;
  border-radius: 12px;
}
