@use '../module-common';

.waste-qty {
  color: var(--danger);
}

.note-text {
  font-size: 13px;
  color: var(--text-secondary);
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
